assets/scenes
build
.vs
.vscode
imgui.ini
doxygen/
tests/system_test/artifacts
tests/system_test/tmp
output/*
.mypy_cache
tags

# vim backup and temp files
*~
.*.sw*
.sw*
/cmake-build-debug/
/third_party/
/output/
/samples/
/scripts/
/shaders/
/tests/
/docs/
/components/
/antora/
/app/
/assets/
/bldsys/
/.copyrightignore
/.gitlab-ci.yml
/.gitmodules
/.snakeignore
/_config.yml
/banner.jpg
/CMakeLists.txt
/CODE_OF_CONDUCT.adoc
/CONTRIBUTING.adoc
/CONTRIBUTORS.adoc
/LICENSE
/README.adoc
